h1 {
    color: white;
    font-family: 'Lobster';
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-size: 100px;}


body {
    padding-left: 15px;
    padding-right: 15px;}


.post-name {
    font-family: 'Lobster';
    font-size: 40px;}


h2 a{
    color: black;}


.post-list{
    background-color: #FFEEEE;}


.button1 {
    background-color: orange;
    font-size: 20px;
    float: right;
    color: white;}


form{
    margin-left: 500px;}


h3{
    font-size: 35px;
    margin-left: 430px;}