{% extends "main/base.html" %}

{% block title%} Мой блог {% endblock %}

{% block content %}
    <a href="{% url 'main:create' %}"><button>Добавить пост</button></a>
    {% for post in posts %}
        <h2>
            <a href = '{{ post.get_absolute_url }}'>
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            <i> Опубликован {{post.publish}}, пользователем {{ post.author }} </i>
        </p>
        <b>{{ post.body|truncatewords:30|linebreaks }}</b>
    {% endfor %}
    <br>
    {% include "pagination.html" with page=posts %}
{% endblock %}
